---
title: Eleventy Boilerplate
description: A full featured Eleventy boilerplate based on Brent Richie's Eleventy Core
keywords: Eleventy, 11ty, Static Site, Boilerplate, Starter File
---

{% include 'partials/page.liquid' %}

{% block content %}
<h1>Home Page</h1>
<p>This is a test paragraph.</p>
{% endblock %}
